/*General rules*/
body {
    display: flex;
    margin: 0;
}

p, li, a {
    font-family: "IBM Plex Serif", serif;
    font-size: 16px;
    font-weight: 300;
}

/*Navbar rules*/
#navbar {
    background-color: #7579E7;
    border-right: 2px solid #A3D8F4;
    max-width: 300px;
    height: 100vh;
    margin: 0;
    color: #FFF;
}

#navbar a {
    color: #FFF;
    display: block;
    padding: 15px;
    border: 2px solid #A3D8F4;
    text-decoration: none;
    font-family: "IBM Plex Serif", serif;
}

#navbar header {
    padding: 15px;
}

header {
    font-family: "IBM Plex Serif", serif;
    font-size: 24px;
    font-weight: 600;
}

/*Main doc rules*/
#main-doc {
    flex: 1;
    background: #FFF;
    height: 100vh;
    overflow-y: scroll;
}

.main-section {
    padding: 20px;
    line-height: 1.5;
}

/*Code rules*/