/*General rules*/
body {
    display: flex;
    margin: 0;
}

p, li, a {
    font-family: "IBM Plex Serif", serif;
    font-size: 16px;
    font-weight: 300;
}

/*Navbar rules*/
#navbar {
    background-color: #7579E7;
    border-right: 2px solid #A3D8F4;
    min-width: 300px;
    height: 100vh;
    margin: 0;
    color: #FFF;
}

#navbar a {
    color: #FFF;
    display: block;
    padding: 15px;
    border: 2px solid #A3D8F4;
    text-decoration: none;
    font-family: "IBM Plex Serif", serif;
}

#navbar header {
    padding: 15px;
}

header {
    font-family: "IBM Plex Serif", serif;
    font-size: 24px;
    font-weight: 600;
}

/*Main doc rules*/
#main-doc {
    background: #FFF;
    height: 100vh;
    overflow-y: scroll;
}

.main-section {
    padding: 20px;
    line-height: 1.5;
}

#References a {
    color: #7579E7;
}

/*Code rules*/
pre {
    background-color: #F6F6F6;
    border-radius: 2em;
    padding-top: 14px;
}

code {
    background-color: #F6F6F6;
}

.selector {
    color: #FF5D6C;
}

.atribute {
    color: #3EC70B;
}

.value {
    color: #3330E4;
}

/*Media query*/
@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    #navbar {
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        border-right: none;
        border-bottom: 2px solid #A3D8F4;
    }

    #main-doc {
        width: 100%;
        height: auto;
        overflow-y: none;
    }
}